* {
    background-color: #c2c5aa;
}

.gamepagewrapper {
    width: 100%;
    height: 100%;
}

.title {
    margin: 5px;
    padding: 2px;
}

.difficulty {
    width: 75%;
    height: 10%;
    margin: 0;
}


.difficulty {
    display: flex;
    justify-content: end;
    align-items: center;
}