.refreshButton {
    display: flex;
    font-style: italic;
    font-size: medium;
    border-radius: 15px;
    border: 2px solid;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100px;
    color: #656d4a
}

.refreshButton:hover {
    cursor: pointer;
}

.gamepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}