.refreshButton {
    display: flex;
    font-style: italic;
    font-size: large;
    border-radius: 15px;
    border: 2px solid;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 8em;
    height: 2em;
    color: #656d4a;
}

.refreshButton:hover {
    background-color: #949c6d;
    cursor: pointer;
}

.gamepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}