.rulePage {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.word {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.home {
    width: 200px;
}

.rule-table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td,
th {
    border: 3px solid #959e75;
    padding: 0.5rem;
    text-align: left;
}

.highlight {
    font-weight: bold;
    font-size: larger;
}