.popup {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.pop-content {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #656d4ac4;
    color: #333d29;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    border: 1px solid #333d29;
    border-radius: 30px;
}

.pop-content .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-button {
    border-radius: 20px;
    background-color: #545d39c4;
}