.page {
  display: grid;
  grid-template-rows: 100px 100px 125px 125px 125px 100px 50px;
  grid-template-columns: 50px 150px 200px 150px 50px;
  grid-template-areas:
    '. title title title .'
    '. . . . .'
    '. . easy . .'
    '. . medium . .'
    '. . hard . .'
    '. . . . .'
    '. . rules . .';
  font-family: Arial, sans-serif;
  align-content: center;
  justify-items: center;
  background-color: #fdfdf0;
}

.title {
  display: flex;
  grid-area: title;
  font-size: xxx-large;
  justify-content: center;
  align-items: center;
}

.easy {
  grid-area: easy;
}

.medium {
  grid-area: medium;
}

.hard {
  grid-area: hard;
}

.easy,
.medium,
.hard,
.rules,
.home {
  display: flex;
  font-style: italic;
  font-size: x-large;
  border-radius: 15px;
  border: 2px solid;
  margin: 10px;
  justify-content: center;
  align-items: center;
  justify-self: stretch;
  text-decoration: none;
}

.rules,
.home {
  grid-area: rules;
  font-size: medium;
}

.easy,
.medium,
.hard,
.rules {
  color: black
}

.easy,
.medium,
.hard,
.rules:hover {
  cursor: pointer;
}